# hidden folders
.zig-cache
zig-cache/
zig-out/
__pycache__/
.svn

# content stuff
content/audio/*
content/content.sqlite
content/heightmap/*
content/imgui.ini
content/ludodb
content/meshes
content/patch
content/PathStatement.txt
content/prefabs
content/flecs_scripts
content/settlements
content/systems
content/textures
content/content.csv
/design

# svn stuff
tools/binaries/
tools/external
licenses.txt

# temp stuff
release_build/*
Logs/*

#random config files
imgui.ini
prefs.toml

# srekel's cool vendorization hack
external/**/.git

# dependencies
external/c2z
external/FastNoiseLite
external/imgui
external/poisson-disk-sampling
external/stb
external/system_sdk
external/The-Forgelol
external/The-Forge/.git
external/The-Forge/Common_3/Application/cr
external/The-Forge/Common_3/Application/gainput
!external/The-Forge/Common_3/Game/ThirdParty
external/The-Forge/Common_3/Game/ThirdParty/*
!external/The-Forge/Common_3/Game/ThirdParty/OpenSource
external/The-Forge/Common_3/Game/ThirdParty/OpenSource/*
!external/The-Forge/Common_3/Game/ThirdParty/OpenSource/lua-5.3.5/
# external/The-Forge/Common_3\Game\ThirdParty\OpenSource\lua-5.3.5\*
external/The-Forge/Common_3\Game\ThirdParty\OpenSource\*
external/The-Forge/Common_3/Graphics/Metal
external/The-Forge/Common_3/Graphics/ThirdParty/OpenSource/VulkanSDK
!external/The-Forge/Common_3/Graphics/ThirdParty/OpenSource/winpixeventruntime/bin
external/The-Forge/Common_3/Graphics/Vulkan
external/The-Forge/Common_3/OS/Android
external/The-Forge/Common_3/OS/Darwin
external/The-Forge/Common_3/OS/Linux
external/The-Forge/Common_3/OS/Quest
external/The-Forge/Common_3/OS/ThirdParty/OpenSource/agdk
!external/The-Forge/Common_3/Resources/AnimationSystem
# external/The-Forge/Common_3/Resources/AnimationSystem/*
!external/The-Forge/Examples_3/Unit_Tests
external/The-Forge/Examples_3/Unit_Tests/*
!external/The-Forge/Examples_3/Unit_Tests/PC Visual Studio 2019
external/The-Forge/Examples_3/Unit_Tests/PC Visual Studio 2019/*
!external/The-Forge/Examples_3/Unit_Tests/PC Visual Studio 2019/Libraries
external/The-Forge/Examples_3/Visibility_Buffer
external/The-Forge/Examples_3/Visibility_Buffer2
external/The-Forge/Screenshots
external/The-Forge/ThirdParty/OpenSource/gainput
!external/The-Forge/Tools
external/The-Forge/Tools/*
!external/The-Forge/Tools/python-3.6.0-embed-amd64
external/voronoi
external/websocket.zig
external/wwise-zig
external/zaudio
external/ze-forge
external/zflecs
external/zglfw
external/zgltf
external/zgui
external/zig-args
external/zig-cache
external/zig-datetime
external/zig-flecs
external/zig-im3d
external/zig-json5
external/zig-recastnavigation
external/zigimg
external/zigwin32
external/zmath
external/zmesh
external/znoise
external/zphysics
external/zpix
external/zpool
external/zstbi
external/ztracy/.git
external/zwindows
external/**/doc/
external/**/docs/

