# hidden folders
.zig-cache
zig-cache/
zig-out/
__pycache__/
.svn

# content stuff
content/audio/*
content/content.sqlite
content/heightmap/*
content/imgui.ini
content/ludodb
content/meshes
content/patch
content/PathStatement.txt
content/prefabs
content/flecs_scripts
content/settlements
content/systems
content/textures
content/content.csv
design

# svn stuff
tools/binaries/
tools/external
licenses.txt

# temp stuff
release_build/*
Logs/*

#random config files
imgui.ini
prefs.toml

# srekel's cool vendorization hack
external/**/.git

# dependencies
external/c2z
external/FastNoiseLite
external/imgui
external/poisson-disk-sampling
external/stb
external/system_sdk
external/The-Forge
external/voronoi
external/voronoi_
external/websocket.zig
external/wwise-zig
external/zaudio
external/ze-forge
external/zflecs
external/zglfw
external/zgltf
external/zgui
external/zig-args
external/zig-cache
external/zig-datetime
external/zig-flecs
external/zig-im3d
external/zig-json5
external/zig-recastnavigation
external/zigimg
external/zigwin32
external/zmath
external/zmesh
external/znoise
external/zphysics
external/zpix
external/zpool
external/zstbi
external/ztracy/.git
external/zwindows

